<h3>Todo</h3>

<ul id="tasks">
  <li>
    <%= render "tasks/form", { task: Task.new } %>
  </li>
  <% @todo_tasks.each do |task| %>
    <li>
      <%= render task %>
    </li>
  <% end %>
</ul>

<h3>Completed</h3>

<ul id="tasks">
  <% @completed_tasks.each do |task| %>
    <li>
      <%= render task %>
    </li>
  <% end %>
</ul>